<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.project.pet_health.mapper.CommunityPostsMapper">

    <select id="selectRecommendedPosts" resultType="org.project.pet_health.entity.CommunityPosts">
        SELECT cp.*,

        <choose>
            <when test="isColdStart == true">
                0 AS recommend_score
            </when>

            <otherwise>
                (
                <choose>
                    <when test="petBreeds != null and petBreeds.size() > 0">
                        <foreach collection="petBreeds" item="breed" separator=" + ">
                            (CASE WHEN cp.content LIKE CONCAT('%', #{breed}, '%')
                            OR cp.tags LIKE CONCAT('%', #{breed}, '%')
                            THEN 10 ELSE 0 END)
                        </foreach>
                    </when>
                    <otherwise>0</otherwise>
                </choose>

                +

                <choose>
                    <when test="keywordWeights != null and keywordWeights.size() > 0">
                        <foreach collection="keywordWeights" item="kw" separator=" + ">
                            (CASE WHEN cp.content LIKE CONCAT('%', #{kw.keyword}, '%')
                            OR cp.tags LIKE CONCAT('%', #{kw.keyword}, '%')
                            THEN #{kw.weight} ELSE 0 END)
                        </foreach>
                    </when>
                    <otherwise>0</otherwise>
                </choose>
                ) AS recommend_score
            </otherwise>
        </choose>

        FROM community_posts cp
        ORDER BY
        <choose>
            <when test="isColdStart == true">
                (cp.like_count * 2 + cp.comment_count * 5) DESC, cp.create_time DESC
            </when>
            <otherwise>
                recommend_score DESC, (cp.like_count * 2 + cp.comment_count * 5) DESC
            </otherwise>
        </choose>

        LIMIT 50 </select>

</mapper>
